<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>百度新闻首页</title>
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/swiper/dist/css/swiper.min.css' />
  
</head>
<body>
  <!-- header -->
  <header>
    <ul>
      <li ><a href=""></a></li>
      <li ><a href=""></a></li>
      <li ><a href=""></a></li>
      <li ><a href=""></a></li>
    </ul>
  </header>
  <nav>
      <p class="l-wrap"></p>
      <ul class="list clearfix">
         <p>栏目切换</p>
          <li class="active">推荐</li>
          <li >百家</li>
          <li >本地</li>
          <li >娱乐</li>
          <li >社会</li>
          <li >军事</li>
          <li >女人</li>
          <li >搞笑</li>
          <li >互联网</li>
       </ul>
       <p class="r-wrap"></p>
       <p class="more"><i></i></p>
  </nav>
  <!-- 点击nav展开时 出现遮罩层 -->
  <div id="cover">      
  </div>

 
  <!--main section -->
  <section>
   <!--The first tab -->
      <div id="tab1" class="active">
            <!--轮播图  -->
            <div class="swiper-container">
                 <div class="swiper-wrapper">
                    <!-- <div class="swiper-slide myswiper"><img src="/img/testImg01.jpg" alt="">   <p class="swiper-title">明代城堡里的留守人家</p></div> -->
                   
                 </div>
              <!-- 分页器 -->
                 <div class="swiper-pagination"></div>
            </div>
         <!-- <dl>
           <dt><img src="/img/testImg04.jpg" alt=""></dt>
           <dd>
              <h6>习近平总书记@全体党员，纠正“四风”不能止步</h6>
              <b>新华视点</b>
              <i>热点</i>
           </dd>
         </dl>
         <div class="pic3">
           <h5>马云联合A8音乐打造乡村学校提升项目，首批试点学校两所</h5>
           <img src="/img/testImg04.jpg" alt="">
           <img src="/img/testImg02.jpg" alt="">
           <img src="/img/testImg01.jpg" alt="">
           <b>新华视点</b>
         </div> -->

      </div>
   <!--The second tab  直接插入 左图 右文-->
      <div  id="tab2"> 
         
      </div>
   <!--The third tab -->
      <div  id="tab3">
        <!-- 本地 -->
      </div>
   <!--The fourth tab -->
      <div  id="tab4">
        <!-- 娱乐 -->
      </div>
   <!--The fifth tab -->
      <div  id="tab5">
        <!-- 社会 -->
      </div>
   <!--The sixth tab -->
      <div  id="tab6">
        <!-- 军事 -->
      </div>
   <!--The seventh tab -->
      <div  id="tab7">
        <!-- 女人 -->
      </div>
   <!-- The eighth tab -->
      <div  id="tab8">
        <!-- 搞笑 -->
      </div>
   <!-- The ninth tab -->
      <div  id="tab9">
        <!-- 互联网 -->
      </div>

  </section>

    
</body>
  <script src="/swiper/dist/js/swiper.min.js"></script>
  <script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
  <script src="/js/indexjs.js"></script>
</html>
